#colorPicker {
    display: flex;
    align-self: center;
    justify-content: center;
    cursor: pointer;
    width: 60px;
}

#colorPickerBackground {
    display: flex;
    align-self: center;
    justify-content: center;
    cursor: pointer;
    align-items: flex-end;
    width: 60px;
} 