#colorPicker {
    display: flex;
    align-self: center;
    justify-content: center;
    cursor: pointer;
}

#colorPickerBackground {
    display: flex;
    align-self: center;
    justify-content: center;
    cursor: pointer;
    align-items: flex-end;
} 