#sizeSlider {
    width: 100%;
    height: 10px;
    margin-bottom: 10px;
}

/* slider including number tracker above */
.range {
    height: 40px;
    width: 100%;
    background-color: none;
    padding-top: 30px;
}

.range .sliderValue {
    position: relative;
    width: 100%;
}


/* slider excluding number tracker above */
.range .field {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/* left and right number values */
.range .field .value {
    position: absolute;
    font-size: 15px;
    font-weight: 400;
    color: black;
    margin-left: 5px;
}

/* left value on slider */
.range .field .value.valueLeft {
    left: -18px;
    padding-bottom: 10px;
}

/* right value on slider */
.range .field .value.valueRight {
    right: -20px;
    padding-bottom: 10px;
}

/* Checkbox */

/* checkbox div */
.wrapperCheckBox {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* alters the appearance of the checkbox */
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none ;
    height: 5px;
    width: 5px;
    background-color: none;
    border: solid 1px black;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    outline: none;
    align-items: center; /* centers the checkmark */
    justify-content: center; /* centers the checkmark */
}

input[type="checkbox"]:after {
    background-color: none;
    font-family: "Font Awesome 6 Free";
    content: "\f00c";
    font-weight: 900;
    font-size: 16px;
    color: white;
    display: none;
}

input[type="checkbox"]:hover {
    background-color: rgba(132, 132, 132, 0.7);
}

input[type="checkbox"]:checked {
    background-color: rgba(132, 132, 132, 0.7);
}

input[type="checkbox"]:checked:after {
    display: block;
}


.option #fillColor {
    height: 20px;
    width: 20px;
}

.fillColorLabel {
    margin-left: 5px;
}

/* slows transition down when pointer leaves */
.checkBoxFill {
    transition: transform 1000ms, background-color 0.3s, color 0.3s;
}

/* moves div up when hovering and turns text white */
.checkBoxFill:hover {
    transform: translateY(-4px);
    background-color: none;
    color: rgb(255, 255, 255);
    transition: transform 250ms;
}