#sizeSlider {
    width: 100%;
    height: 10px;
    margin-bottom: 10px;
}

/* slider including number tracker above */
.range {
    height: 40px;
    width: 100%;
    background-color: none;
    padding-top: 30px;
}

.range .sliderValue {
    position: relative;
    width: 100%;
}


/* slider excluding number tracker above */
.range .field {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/* left and right number values */
.range .field .value {
    position: absolute;
    font-size: 15px;
    font-weight: 400;
    color: black;
    margin-left: 5px;
}

/* left value on slider */
.range .field .value.valueLeft {
    left: -18px;
    padding-bottom: 10px;
}

/* right value on slider */
.range .field .value.valueRight {
    right: -20px;
    padding-bottom: 10px;
}

.range .field input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: rgba(128, 128, 128, 0.6);
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
}

/* chrome and other browsers */
.range .field input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 19px;
    height: 19px;
    background: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid black;
}

/* chrome and other browsers hover */
.range .field input[type="range"]::-webkit-slider-thumb:hover {
    background: rgba(255, 255, 255, 0.9);
}

/* firefox */
.range .field input[type="range"]::-moz-range-thumb {
    width: 19px;
    height: 19px;
    background: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid black;
}

/* firefox hover */
.range .field input[type="range"]::-moz-range-thumb:hover {
    background: rgba(255, 255, 255, 0.9);
}

/* 

Checkbox

*/

/* checkbox div */
.wrapperCheckBox {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* alters the appearance of the checkbox */
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none ;
    height: 5px;
    width: 5px;
    background-color: none;
    border: solid 1px black;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    outline: none;
    align-items: center; /* centers the checkmark */
    justify-content: center; /* centers the checkmark */
}
/* after click adds check */
input[type="checkbox"]:after {
    background-color: none;
    font-family: "Font Awesome 6 Free";
    content: "\f00c";
    font-weight: 900;
    font-size: 16px;
    color: white;
    display: none; /* removes checkmark when not checked */
}

/* changes color on hover */
input[type="checkbox"]:hover {
    background-color: rgba(132, 132, 132, 0.7);
}

/* changes color when checked */
input[type="checkbox"]:checked {
    background-color: rgba(132, 132, 132, 0.7);
}

/* adds checkmark when checked by adding the display we removed before */
input[type="checkbox"]:checked:after {
    display: block;
}


.option #fillColor {
    height: 20px;
    width: 20px;
}

.fillColorLabel {
    margin-left: 5px;
}

/* slows transition down when pointer leaves */
.checkBoxFill {
    transition: transform 1000ms, background-color 0.3s, color 0.3s;
    padding-left: 2px;
}

/* moves div up when hovering and turns text white */
.checkBoxFill:hover {
    transform: translateY(-4px);
    background-color: none;
    color: rgb(255, 255, 255);
    transition: transform 250ms;
}